body {
background-color: #620000;
animation: flicker 3s infinite;
}
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.95; }
  60% { opacity: 0.9; }
  70% { opacity: 1; }
}
h2, p {
margin: 50px; text-align: justify; text-shadow: 2px 2px 10px white; color: white;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #2b0000;
justify-content: center;
display: flex;
justify-content: center;
text-shadow: 2px 2px 10px white;

}

ul li {
float: left;
}

ul li a {
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;

}

ul li a:hover {
background-color: #720000;
border: 1px solid red ;
padding: 10px;
border-radius: 15px;
}
h1 {text-align: center; text-shadow: 2px 2px 10px white; color: white;}

.content-box {
background-color:#2b0000;
  width: 85%;       
  max-width: 1024px;  
  padding: 50px;
  margin: 20px auto; 
border-radius: 20px;
font-size: 15px;
text-shadow: 2px 2px 10px white;
text-align: justify;
color: white;
}

.image-container{ 
  position: relative;
  width: 90%;           
  max-width: 1024px;    
  margin: 20px auto;   
}

.image-container img {
  width: 100%;     
  height: auto;  
  display: block;
}


.centered-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 60px;
font-weight: bold;
text-shadow: 0px 0px 10px white, 0px 0px 20px red;
}

.subtitle-text {
position: absolute;
top: 58%;
left: 50%;
transform: translateX(-50%);
color: white;
font-size: 28px;
font-weight: normal;
letter-spacing: 2px;
text-shadow: 2px 2px 8px black;
}

.button-container {
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.story-btn {
background-color: #2b0000;
color: white;
border: 1px solid red;
padding: 12px 25px;
border-radius: 25px;
font-size: 16px;
cursor: pointer;
text-shadow: 2px 2px 5px white;
}

.story-btn:hover {
background-color: #720000;
}
.story-btn:active {
transform: translateY(3px) scale(0.97);
box-shadow: 0 0 12px red;
}
blockquote {
color:white;
padding:20px;
border-radius:15px;
text-align:center;
width:fit-content;
margin:30px auto;
box-shadow: 2px 2px 10px black;}

.section-title {
display: flex;
align-items: center;
font-size: 24px;
color: white;
margin-bottom: 15px;
text-shadow: 2px 2px 10px black;
}

.section-title .line {
display: inline-block;
width: 5px;
height: 30px;
background-color: red;
margin-right: 10px;
border-radius: 2px;

}
.video-container {
  display: flex;          
  justify-content: center;
  margin: 20px 0;         
}
